/* CSS Document */
html{
	box-sizing:border-box;
	font-size:36px
}
ul {
	
	background-color:#12EB70;
	font-size:38px

	
	
	
}
div > article {
	border: 1px solid blue;
	
}
div p {
	color:blue;
}
	
div :hover{
	background-color:blue;
}
