@charset "UTF-8";
/* CSS Document */

.fondo_general {
	background-size:100% 100%;
	background:#333;
}

body {
	background-color:#999;
	width:80%;
	min-width:320px;
	margin:10px auto;
	margin-top:0px;
}

body header h1{
	margin-top:10px;
	margin-bottom:0px;
	padding-bottom:50px;
	font-size:18px;
}

header h1 a {
	font-family: 'Source Sans Pro', sans-serif;
	font-size:36px;
	padding-left:10px;
	color:#000;
	text-decoration:none;
}


ul {
	margin:0;
}


nav > ul > li {
	list-style-type:none;
	font-size:15px;
	text-align:center;
	float:left;
	width:19%;
	background: #ededed; /* Old browsers */
	background: -moz-linear-gradient(top, #ededed 0%, #f6f6f6 37%, #c4c4c4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(37%,#f6f6f6), color-stop(100%,#c4c4c4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ededed 0%,#f6f6f6 37%,#c4c4c4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ededed 0%,#f6f6f6 37%,#c4c4c4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ededed 0%,#f6f6f6 37%,#c4c4c4 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ededed 0%,#f6f6f6 37%,#c4c4c4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#c4c4c4',GradientType=0 ); /* IE6-9 */
	position: relative;
	border-right: 1px solid white;
}

nav > ul > li._active {
	font-weight: bold;
}

nav > ul > li:last-child {border: 0;}

nav > ul > li > a {
	display: block;
	line-height: 34px;
	font-family: 'Source Sans Pro', sans-serif;
}

li ul {
	list-style-type:none;
	text-align:center;
	padding:0;
	background-color:white;
	font-size:13px;
	padding-top:7px;
	position: absolute;
	width:100%;
}

ul li ul {
	display:none;
	
}

ul li:hover ul {
	display:block;
}

nav ul > li a {
	text-decoration:none;
	font-family: 'Source Sans Pro', sans-serif;
	color:black;
}

li ul li a {
	padding-top:10px;
	color:#9F9F9F;
}

nav ul li a:hover {
	color:#009;
	font-size:18px;
}

article {
	margin:0 auto;
	width:100%;
}

.imagen_cambia {
	margin:0 auto;
	width:100%;
	padding-top:45px;
}

.cuadrados {
	margin-left:50px;
	margin-bottom:20px;
	width:265px;
	min-height:300px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:20px;
	background-color:white;
	border-radius:10px 10px 10px 10px;
	float:left;
}

article section h1 {
	margin:10px;
	position:relative;
	font-family:'Source Sans Pro', sans-serif;
	font-weight:lighter;
	font-size:20px;
	text-decoration:underline;
}

section.cuadrados h1 em {
	font-family:'Source Sans Pro', sans-serif;
	font-weight:bolder;
	font-size:20px;
}

article p {
	text-align:justify;
	font-size:15px;
}

section nav {
	margin-left:10px;
	margin-right:10px;
}

article section.cuadrados figure img {
	border:1px;
	border-style:solid;
	border-color:#666;
	border-radius:10px;
	margin:0 auto;
	width:100%;
	background-image:url(../imagenes/entrada.jpg);
}

section.cuadrados nav details p {
	margin:0;
	margin-top:5px;
	font-size:14px;
	font-family:inherit;
}

article section.cuadrados p {	
	margin-left:10px;
	margin-bottom:10px;
}

section.cuadrados nav a {
	font-size:14px;
}
footer {
	margin: 100px auto 0;
}

footer p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size:12px;
	margin-left:15px;
}

nav details summary {
	font-size:16px;
	font-family:inherit;
}

.clearfix:after{
	content:" ";
	display:block;
	clear:both;
}

.redes_sociales li {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:bolder;
	font-size:9px;
	list-style-type:none;
	width:41px;
	height:40px;
	margin:15px;
	padding:0px;
	margin-right:75px;
	display:block;
}

.redes_sociales li a {
	margin-left:50px;
}

.mimim {
	float:left;
	background-image:url(../imagenes/iconos-de-redes-sociales.png);
	background-position:0px 0px;
}

.facebook {
	float:left;
	background-image:url(../imagenes/iconos-de-redes-sociales.png);
	background-position:0px 80px;
}

.twitter {
	float:left;
	background-image:url(../imagenes/iconos-de-redes-sociales.png);
	background-position:0px -80px;
}




.verde{background:#4A9224;}
.naranja{color:#EE9B22;}