/* tabs */

.tabs {
    border: 2px solid #444;
    background-color: #ccc;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

.tabs .tab {
    list-style-type: none;
    margin: 0 10px 0 0;
    padding: 0;
    border-bottom: 1px dotted #444;
    float: left;
}

.tab-button {
    display: block;
    padding: 0 20px;
    text-align: center;
    line-height: 40px;
    background-color: #ffa;
    text-decoration: none;
    color: #444;
}

.activo .tab-button,
.tab-button:hover {
    background-color: #ffc;
}

.tabs-content {}

.tabs-content .tab {
    display: none;
}
.tabs-content .activo {
    display: block;
}

/* acordeon */

.accordion-tabs {
    border: 2px solid #444;
    background-color: #ccc;
    margin: 0;
    padding: 0;
}

.accordion-tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px dotted #444;
}

.accordion-tab-button {
    display: block;
    padding: 0 5px;
    line-height: 40px;
    background-color: #ffa;
    text-decoration: none;
    color: #444;
}
.activo .accordion-tab-button,
.accordion-tab-button:hover {
    background-color: #ffc;
}

.accordion-tab-content {
    padding: 0px;
    line-height: 24px;
    background-color: #fff;
    border-top: 1px dotted #444;
    height: 0;
    transition: height 1s ease-in-out;
    overflow: hidden;
}
.activo .accordion-tab-content {
    height: 200px;
}