/* CSS Document */
header {
	position:fixed;
	width: 100%;
}

nav ul {
	/*border:2px solid black;*/
	overflow: hidden;
	
	
}
nav > ul {
	margin: 0 auto;
	padding-top:40px;
	background-color:rgba(0,0,0,0.5);
}
	
nav > ul > li {
	float:left;
	padding:10px 0;
	width: 24%;
	text-align: center;
}
nav ul ul {
	display:none;
	position:relative;
}
	
nav li:hover ul {
	display:block;
	width:auto;
	
	margin:10px auto;  /*Me separa como quiero pero desaparece sub menu cuando mueves el ratón*/
	
}

a {color:#FFF;}
a:hover {color:blue;}
/* a:visited {color:#00FF01;} seria para que se quede marcado cuendo se visita*/

body {
	display:block;
	display:inline-block;
	height:auto;
	width:1024px;
	
	position:relative;
	text-align:center;
	margin:auto 10px;
}
body > article {text-align:center;
				background-color:red;
				display:block;
				width:100%;
				/*margin-left:10%;
				margin-right:10%;*/


}
html {
	height: 100%;
	background-image: url(../IMG/fondo%20blog.jpg);
	background-size: cover;
}
section {
	overflow: hidden;
}

article {
	overflow:hidden;
}
article > section {
	padding:20px;
}
article > h1 {
	margin-top:100px;
	margin-bottom:0px;
	line-height:150px; 
	background-image:url(../IMG/The%20Fly%20texto%20about.png);
	background-repeat:no-repeat;
	background-position:center;
	font-size:0px;
}

.video {
	background-image:url(../IMG/Logo%20the%20fly%20miniaturacuadrada.png);
	background-repeat:no-repeat;
	background-size:500px 400px;
	background-position:center;
	background-origin:content-box;
	padding-left:0px;
	width:500px;
	height:400px;
	float:left;
	font-size:0px
	
	
}


.texto {
	font-family: 'Oswald', sans-serif;
	color:#FFF;
	width:400px;
	float:left;
	margin:0px;
	padding:opx;
}
article > section > h2 {
	font-size:40px;
	padding-bottom:15px;
}
article > section > h3 {
	font-size:40px;
	padding-bottom:15px;
	padding-top:50px;
}


#social:after {
	content:" ";
	display:block;
	clear:both;	
}
#social li {
	/*background-image:url(../IMG/social-media-sprite.png);
	background-repeat:no-repeat;*/
	width:20px;
	height:20px;
	float:left;
	/*background-color:#FFFFFF;*/
	font-size:0px;
	
}
#social li a {
	display:block;
	width:20px;
	height:20px;
	background-image:url(../IMG/social-media-sprite.png);
}
.linkedin a {
	background-position: 0px -20px;
}
.linkedin a:hover {
	background-position: 0px 0px;
}
.facebook a {
	background-position: -40px -20px;
}
.facebook a:hover {background-position: -40px 0px}

.vimeo a {background-position: 60px -20px;
}
.vimeo a:hover {
	background-position: 60px 0px;
}

footer {
	font-family: 'Oswald', sans-serif;
	color:#FFF;
	text-align:center;
	background-color:rgba(0,0,0,0.5);
	/*background-color:#000;*/
	/*opacity:0.5;*/
	height:10px;
	padding:20px;
}

footer > aside {
	position:relative;
	margin-top:-20px;
	margin-bottom:10px;
	margin-left:80%;
	
}


.box {
    display: block;
    width: 300px;
    height: 300px;
	background-color:blue;
	background-image:url(../IMG/Boton%20RIOP.png);
	background-size:cover;

	 -webkit-transition:width 2s, height 2s, background-color 2s, -webkit-transform 2s;
	margin-top:150px;
	position:absolute;
	transition:width 2s, height 2s, background-color 2s, transform 2s;
}

.box:hover {
	 width:500px;
    height:500px;
	-webkit-transform:rotate(360deg);
	transform:rotate(360deg);
}

.box2 {
	 border-style: solid;
    border-width: 1px;
    display: block;
    width: 300px;
    height: 300px;
	background-color:red;
	background-image:url(../IMG/Boton%20JETR.png);
	background-size:cover;
	 -webkit-transition:width 2s, height 2s, background-color 2s, -webkit-transform 2s;
	margin-top:150px;
	margin-left:600px;
	position:absolute;
	transition:width 2s, height 2s, background-color 2s, transform 2s;
}

.box2:hover {
	 width:500px;
    height:500px;
	-webkit-transform:rotate(360deg);
	transform:rotate(360deg);
}

.box3 {
    display: block;
    width: 300px;
    height: 300px;
	background-image:url(../IMG/Boton%20MUTO.png);
	background-size:cover;
	 -webkit-transition:width 2s, height 2s, background-color 2s, -webkit-transform 2s;
	margin-top:500px;
	margin-left:350px;
	position:absolute;
	transition:width 2s, height 2s, background-color 2s, transform 2s;
}

.box3:hover {
	 width:500px;
    height:500px;
	-webkit-transform:scaleX(sx);
	transform:scaleX(sx);
}

.box4 {
	 border-style: solid;
    border-width: 1px;
    display: block;
    width: 300px;
    height: 300px;
	background-image:url(../IMG/Boton%20NIHO.png);
	background-size:cover;
	-webkit-transition:width 2s, height 2s, background-color 2s, -webkit-transform 2s;
	margin-top:500px;
	margin-left:900px;
	position:absolute;
	transition:width 1s, height 1s, transform 1s;
	text-height:0px;
}

.box4:hover {
	 width:500px;
    height:500px;
	-webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 600ms cubic-bezier(0.645, 0.045, 0.355, 1); 
	-webkit-transform:scaleX,(1);
	-webkit-transform:scaleY,(1);
	transform:scaleX(1);
	transform:scaleY(1);
	transform-origin:center; /* no funciona*/
	
}
