/* CSS Document */
nav {
	position:fixed;
	width: 100%;
}

nav ul {
	border:2px solid black;
	overflow: hidden;
	
	
}
nav > ul {
	margin: 0 auto;
}
	
nav > ul > li {
	float:left;
	margin:10px 0;
	width: 24%;
	text-align: center;
}
nav ul ul {
	display:none;
	position:absolute;
}
	
nav li:hover ul {
	display:block;
	width: inherit;
	/*margin:10px auto;  Me separa como quiero pero desaparece sub menu cuando mueves el ratón*/

}

body {
	height:100%;
	width:100%;

}
/*body {
	height:1500px;
	width:1500px;

}*/

section > img {float:left;}

figure > img {
	height:100%;
	width:100%;
	position:relative;
	float:left;
}
	




td {
	background-color: blue; 
	color: white;}
th {
	background-color: red;}
	
a {
	background-color: black;	
	Color: yellow;
}

article > h1, 
article > h2,
article > h3 {
	font-size:22px;
	font-style:oblique;
	font-weight:bold;
}

section > h1,
section > h2,
section > h3 {
	font-size:16px;
}

a:hover {color:red;}
/* a:visited {color:#00FF01;} seria para que se quede marcado cuendo se visita*/




