/* CSS Document */

/*header {
	background-color:red;
}*/
/* codigo de abajo es para quitarle el tema de los flotados y tal....*/

nav ul:after {
	content:" ";
	display:block;
	clear:both;	
}

nav ul {
	padding:5px;
}

nav ul li {
	width:73px;
	height:50px;
	float:left;
	text-align:center;
	border-color:#FFF;
	border-style:solid;
	border-width:2px;
}

nav ul  ul li {
	display:none;
}
nav ul li a {
	width:73px;
	height:50px;
	display:block;
}
.home {
	background-image:url(../IMG/iconhome.png);
	background-size:cover;
	background-position:center;
	width:73px;
	height:50px;
}
.games {
	background-image:url(../IMG/icongames.png);
	background-size:cover;
	background-position:center;
}
.design {
	background-image:url(../IMG/icondesign.png);
	background-size:cover;
	background-position:center;
}
.contact {
	background-image:url(../IMG/iconcontact.png);
	background-size:cover;
	background-position:center;
}
	
a {
	color:#FFF;
	font-size:0px;
}

article > h1 {
	display:block;
	background-image:url(../IMG/The%20Fly%20texto%20about.png);
	background-size:cover;
	background-repeat:no-repeat;
	line-height:60px;
	font-size:0px;
	/*margin-top:50px;*/

}
	
.video {
	line-height:300px;
	background-image:url(../IMG/Logo%20the%20fly%20miniaturacuadrada.png);
	background-size:cover;
	/*width:90%;*/
	margin:0 auto;
	font-size:0px;
}

html {
	background-image:url(../IMG/fondo%20blog.jpg);
	background-size:cover;
	background-position:center;
}

.texto {
	font-family: 'Oswald', sans-serif;
	color:#FFF;
	width:90%;
	float:left;
	margin:10px;
	padding:0px;
}
article > section > h2 {
	font-size:30px;
	padding-bottom:15px;
}
article > section > h3 {
	font-size:30px;
	padding-bottom:15px;
	padding-top:15px;
}

footer {
	content:" ";
	display:block;
	clear:both;	
	font-family: 'Oswald', sans-serif;
	color:#FFF;
	font-size:9px;
	text-align:center;
	padding-top:30px;
}
footer p {
	padding:10px;
}
body > aside {
	position:static;
	margin-left:70%;
	margin-top:80px;
	width:72px;
	height:24px;
	
}
#social li a {
	display:block;
	width:20px;
	height:20px;
	background-image:url(../IMG/social-media-sprite.png);
	float:left;
	margin:2px;
}
.linkedin a {
	background-position: 0px -20px;
	font-size:0px;
}
.linkedin a:hover {
	background-position: 0px 0px;
	
}
.facebook a {
	background-position: -40px -20px;
	font-size:0px;
}
.facebook a:hover {background-position: -40px 0px}

.vimeo a {
	background-position: 60px -20px;
	font-size:0px;
}
.vimeo a:hover {
	background-position: 60px 0px;
}

.error1 {
	border:#FF0004;
	border-style:solid;
	border-width:2px;
}

