/* CSS Document */
header {
	position:fixed;
	width: 100%;
}

nav ul {
	/*border:2px solid black;*/
	overflow: hidden;
	
	
}
nav > ul {
	margin: 0 auto;
	padding-top:40px;
}
	
nav > ul > li {
	float:left;
	padding:10px 0;
	width: 24%;
	text-align: center;
}
nav ul ul {
	display:none;
	position:relative;
}
	
nav li:hover ul {
	display:block;
	width:auto;
	
	margin:10px auto;  /*Me separa como quiero pero desaparece sub menu cuando mueves el ratón*/
	
}

a {color:#FFF;}
a:hover {color:blue;}
/* a:visited {color:#00FF01;} seria para que se quede marcado cuendo se visita*/

body {
	height:100%;
	width:100%;

}

html {
	height: 100%;
	background-image: url(../IMG/fondo%20blog.jpg);
	background-size: cover;
}
section {
	overflow: hidden;
}

article {
	overflow:hidden;
}
article > section {
	padding:20px;
}
article > h1 {
	padding-top:200px;	
	line-height:150px; 
	background-image:url(../IMG/The%20Fly%20texto%20about.png);
	background-repeat:no-repeat;
	background-position:center;
	font-size:0px;
}

.video {
	background-image:url(../IMG/Logo%20the%20fly%20miniaturacuadrada.png);
	background-repeat:no-repeat;
	background-size:100%;
	background-position:center;
	background-origin:content-box;
	padding-left:40px;
	width:49%;
	height:400px;
	float:left;
	min-width:400px;
	font-size:0px
	
	
}


.texto {
	font-family: 'Oswald', sans-serif;
	color:#FFF;
	width:49%;
	float:left;
	min-width:400px;
	max-width:500px;
}
article > section > h2 {
	font-size:40px;
	padding-bottom:15px;
}
article > section > h3 {
	font-size:40px;
	padding-bottom:15px;
	padding-top:50px;
}


#social:after {
	content:" ";
	display:block;
	clear:both;	
}
#social li {
	/*background-image:url(../IMG/social-media-sprite.png);
	background-repeat:no-repeat;*/
	width:20px;
	height:20px;
	float:left;
	/*background-color:#FFFFFF;*/
	font-size:0px;
	
}
#social li a {
	display:block;
	width:20px;
	height:20px;
	background-image:url(../IMG/social-media-sprite.png);
}
.linkedin a {
	background-position: 0px -20px;
}
.linkedin a:hover {
	background-position: 0px 0px;
}
.facebook a {
	background-position: -40px -20px;
}
.facebook a:hover {background-position: -40px 0px}

.vimeo a {background-position: 60px -20px;
}
.vimeo a:hover {
	background-position: 60px 0px;
}

footer {
	font-family: 'Oswald', sans-serif;
	color:#FFF;
	text-align:center;
	background-color:#000;
	/*opacity:0.5;*/
	height:10px;
	padding:20px;
}

footer > aside {
	position:absolute;
	margin-left:80%;
	
	
}




