@charset "UTF-8";
/* CSS Document */

body.sm {
	
	width: 320px;
	
	}

body.sm * {
	
	float: none;
	
	}
	
body.sm footer {
	background-color: red;
	width: 100%;
	position: relative;
	bottom: 10px;
	
		}
		
body.sm header {
	
	width: 100%;
	}
	
body.sm .servicios {
	
	width: 100%;
	}
body.sm .ultimos_trabajos {
	
	width: 100%;
	}