/* CSS Document */
li a {
	color: green;
	font-size: 25px;



}
#tabla1 th {
	
	background-color: grey;
	font-size: 35px
	
}

#tabla1 tr {
	
	background-color: green;
	
}

h1{
	
	color: red;
	font-weigth: bold;
	text-align: center;
	font-size: 50px;
	
}

iframe {
	
	overflow: hidden;
	border-color: red;
	
	}

q { quotes: "«" "»" "‹" "›" }
q:before { content: open-quote }
q:after  { content: close-quote }


.es q { quotes: '"' '"' "'" "'" }



<!--para que un elemento se ponga a la derecha o izda y ocupe toda la pagina-->
position: absolute;
	top: 0;
	bottom: 0;