/* CSS Document */
*{
	box-sizing: border-box;
	-background-color: #fff;
}

.A{
	overflow:auto;
	}
titulo {
	
	font: bold 50px Arial;
	padding: 25px;
	
	}
	
	
	h1 {
	
	color: black;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	height: 50px;
	
	}

header {
	-background-color: #2e2e2e;
	background-image: url(../images/logo_WEB.jpg);
	background-repeat: no-repeat;
	background-position-y: -200px;
	width: 100%;
	float: left;
	padding: 10px;
	-position: absolute;
	-top: 0;
	-bottom: 0;
	
	}

nav {
	
	float: right;
	
	}
	
header li {
	overflow: auto;
	float:left;
	padding: 5px 5px 5px 5px;
	font: bold 25px Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	
	}
	header:hover {
		background-image: url(../images/logo_WEB.jpg);
		background-position-y: 50px;
		}
	
li li {
	float: none;
	}
.ultimos_trabajos {
	background-color: #DBA6DA;
	©
	background-repeat: no-repeat;
	width: 70%;
	height: auto;
	float: left;
	padding: 10px 0px 0px 10px;
	
	
	}

.servicios {
	background-color: #68D990;
	width: 30%;
	height: auto;
	padding: 25px;
	float: left;
	border: solid 5px red;
	
	
	}
	
.servicios li {
	float: left;
	
	}

footer {
	background-color: red;
	width: 10%;
	position: absolute;
	bottom: 10px;
	
		}
