
/* CSS Document */

html{
	box-sizing: border-box;
	}
	
*,
*::before, 
*::after{
	box-sizing: inherit;
	}
	

	body ul{
		width: auto;
		display: table;
		
		margin: 0;
		padding: 10px;
		margin: 0 auto;
		
		background: #ddd;
		}
		
		body li{
			width: auto;
			display:inline-block;
			
			margin-right: 10px;
			}
			
			body li:last-child{
				margin-right: 0;
				}
				
			ul li a:hover{
				display:block;
				color:; pink;
				font-size: 36px;
				}
			
			
			
body section{
	width: 100%;
	display: block;
	background: red;
}

	.contenidos + p{
		width: 100%;
		display: block;
		background-color: yellow;
		}
		
	.contenidos > p{
		color: olive;
		}
		
		