/* CSS Document */

body ul{
	width: auto;
	display: table;
	
	margin: 0;
	padding: 10px;
	margin: 0 auto;
	
	background: #ddd;
	}
	
	body li{
		width: auto;
		display:inline-block;
		
		margin-right: 10px;
		}
		
		body li:last-child{
			margin-right: 0;
			}
			
			
			
body section{
	width: 100%;
	display: block;
	background: red;
}