




.contenedor{
    width: 60%;
    display: block;
    
    margin: 0 auto;
}

    .contenedor h1{
        font-size: 28px;
        text-align: center;
        
        margin :30px 0 10px 0;
    }
    
    .contenedor p{
        font-size: 16px;
        line-height: 1.2;
        margin-bottom: 15px;
    }