/* CSS Document */

body {
	font-size: 20px;
}

ul {list-style-type: none;
    text-align: center;
	border: 1px solid #DDDDDD;
	border-bottom-color: #DDDDDD;
	background-color:#DDDDDD;
	margin-left: 15px;
}
li {display: inline-block;
    padding: 60px;
}

section {font-size: 20px;
    border: 1px solid #DDDDDD;
	border-bottom-color: #DDDDDD;
	background-color:#DDDDDD;
    margin-left: 15px;
}