            html {
                    background-color:#999; 

}   


            header {
                    background-repeat: repeat-x;
                    background-image: url(../imagenes/barrasuperior2.png);
                    position:relative;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 95px;
                    font-family:Arial, Helvetica, sans-serif;
                    color:azure;
        }
            /*.flotados { padding:20px;
                        position: relative;*/
}	

            .flotados { padding:20px;
                        position: absolute;
    
}	
	
	
			
			ul, ol {
				    list-style:none;
}
		     



            #cajabuscador {

                    width: 200px;
                    margin-left: 600px;
                    position: relative;
       
}	
            

            nav { 
                    float:left;
                     /*el contenido que sale de la caja es recortado quedando oculto*/
                    width: 100%;
                    margin-left: 20px;
                    position: absolute;
                    padding-top: 25px;

}
                
               
   




                input {
				        width: 200px;
				        margin:0 auto;
				        padding-top: 10px;
                
}
					


		
    

            .menu { 
                   
                    margin:0px auto;
                    width: 980px;
                    
                   
}



            .menu > li {
				    float:left;
}
			
			.menu li a {
                    background-color:#dfe0e3;
                    color:dimgray;
                    text-decoration:none;
                    padding:10px 20px;
                    display:block;
               
}
			
            .menu ol li a {                      /*personlización de los enlaces del menú*/
                    background-color:#56e0d6;
                    color:#fff;
                    box-shadow: 1px 1px 3px #333;
                    text-align: left;
				
}
			.menu li a:hover {                /*cuando pasamos el ratón se resalta la casilla*/
				    background-color:#434343;
}
			
			.menu li ol {                 /*hacemos desaparecer los submenús. La posición absolute permite dar un tamaño adaptado con min-width, que nos permite darle un                                            ancho mínimo al elemento*/
                    display:none;
                    position:absolute;
                    min-width:140px;
                
}
			
			.menu li:hover > ol {         /*para que se desplieguen los menús al hacer hover*/
				    display:block;
}
			
			.menu li ol li {             /*submenú*/
				    position:relative;
}
			
			.menu li ol li ol {    /*submenú*/
                    right:-140px;
                    top:0px;
					
                
}
			.menu li ol li ol li a {
				transition-property: background-color;
	 			transition-duration: 1s;
}


.menu li ol li ol:hover li a {  

background-color:#E6F011;


}
            li.derecha {
                float:right;
                padding-right: 0;
                padding-left: 20px;
				position: relative;
}

 			li.derecha ol { right:0;
}

            img {
	            
			     top: 0;
			     left: 0;
			     height: 90px;
}

            .logo {float: left}

			.submenu > a:after {
				content: '\02C3';
	
}


.
            .contenedor {
                width:100%;
                padding-top: 50px;
        
}


            .elemento {
                width:1000px;
                height: 600px;
                background:#fff;
                margin:0 auto;
                padding-top: 10px;
                box-shadow:0 1px 2px 0 rgba(0,0,0,0.22);
  
}
 
            .elemento p {
                padding:10px;
                font-size:15px;
}
 
            h1 {  margin: 5px 0 8px 0;
                  max-height: 130px;
                  overflow: hidden;
                  font-size: 40px;
                  line-height: 125%;
                  font-family: "DIN";
                  padding-left: 20px;
}

            #formulario {
                width: 90%;
                margin: 50px auto;
              
    
}

            .flotados label {
                float: left;
                width: 30%;
                text-align: left;
                margin: 0 5px 10px;
}
    
    
textarea {
	width: 100%;
	height: 200px;
    
}


input[type=date] {
	float: left;
	width: 100%;
	margin: 0 0 10px;
	border: none;
	border-bottom: 1px solid #c1c1c1;
}

input[type=submit] {
	width: 20%;
	margin: 20 30 0 20;
	border: none;
	border-bottom: 1px solid #c1c1c1;
  
}
			