

html {
	
	background-color:#DEDECF;
}

header { background-repeat: repeat-x;
			background-image: url(../imagenes/barrasuperior.png);
			position:absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 95px;
}

nav {
	width: 920px;
	margin: 0 auto;
}

body {
	width: 920px;
	margin: 95px auto;
}

	nav > ol,
	nav > ol ol {
		list-style-type: none;
		overflow:hidden;
		margin: 0;
		padding: 5px 0 0 0;
		line-height: 29px;
} 

	nav > ol > li {
	float:left;
	padding-right: 2em;

	}
	
	nav > ol > li ol {
		display: none;
		background-color:#5D5D5D;
	}
	
	nav > ol > li:hover ol {
		display: block;
		position:absolute;
}

	nav > ol > li.derecha {
		float:right;
		padding-right: 0;
		padding-left: 2em;
		
		}


ol {
	list-style-type: none;
	overflow:hidden;
	margin: 0;
	padding: 5px 0 0 0;
	line-height: 29px;

}




ol li a {
	text-decoration: none;
	color:#8E8E8E;
	padding: 0 .8em;
}
ol li a:hover {
	text-decoration: underline;
	background-color: white;
	line-height: 29px;
	
	}

	
li.derecha {
	float:right;
	padding-right: 0;
	padding-left: 20px;
}

img {
	position:absolute;
			top: 0;
			left: 0;
			height: 95px;
}
