

body {
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14px;
	color:#807D7D;
	font-weight: normal;
	line-height: 18px;
	/*background-image:url(../img/08.jpg);*/
	background-size:auto;
}

header {

	background: -moz-linear-gradient(left,  rgba(255,255,255,0.81) 0%, rgba(255,255,255,0.3) 100%); /* FF3.6+ */

	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0.81)), color-stop(100%,rgba(255,255,255,0.3))); /* Chrome,Safari4+ */

	background: -webkit-linear-gradient(left,  rgba(255,255,255,0.81) 0%,rgba(255,255,255,0.3) 100%); /* Chrome10+,Safari5.1+ */

	background: -o-linear-gradient(left,  rgba(255,255,255,0.81) 0%,rgba(255,255,255,0.3) 100%); /* Opera 11.10+ */

	background: -ms-linear-gradient(left,  rgba(255,255,255,0.81) 0%,rgba(255,255,255,0.3) 100%); /* IE10+ */

	background: linear-gradient(to right,  rgba(255,255,255,0.81) 0%,rgba(255,255,255,0.3) 100%); /* W3C */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfffffff', endColorstr='#4dffffff',GradientType=1 ); /* IE6-9 */
	width: 10%;
	float: left; 
	top:0; bottom:0;
	padding: 20px;
	position:absolute;
}

section {
	margin: 0 0 0 10%;
	padding: 10px;
	overflow: auto;
}

h2 {
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:16px;
	color: #1F1F1F;
	overflow: left;
}

#estilotabla {
	font-size:16px;
	border:thin;
	background:#D7D2D2;
	width:80%;
	padding:30px;
}
	
li a{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14px;
	color:#807D7D;
	font-weight: normal;
	float: left;
}

li {
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14px;
	color:#807D7D;
	font-weight:bold
}

h1 {
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:24px;
	color: #1E1E1E;
}


q { quotes: '"' '"' "'" "'" }
q:before { content: open-quote }
q:after  { content: close-quote }



.french q { quotes: "«" "»" "‹" "›";}

.carrousel {
	width:300px;
	height:300px;
	overflow:visible;
	position:relative;
}

.marco {
	height:300px;
	overflow:hidden;
}

.carrousel ol {
	position:relative;
}

.carrousel li {
	position:absolute;
	width:300px;
	height:300px;
	top:-300px;
}

#carrousel li {
	-webkit-animation-duration: 3s;
  	-webkit-animation-timing-function: ease-in-out;
  	-webkit-animation-iteration-count: infinite;
}

li.diapositiva1 {
	top:0px;
}
/*
li.diapositiva2 {
	top:-300px;
}

li.diapositiva3 {
	top:-600px;
}

li.diapositiva4 {
	top:-900px;
}

li.diapositiva5 {
	top:-1200px;
}

li.diapositiva6 {
	top:-1500px;
}*/


li.diapositiva1 {
	-webkit-animation-name: muevete1;
}

@-webkit-keyframes muevete1 {
   from {
      top: 0;
   }
   to {
      top: 1800px;
   }
}
/*
li.diapositiva2 {
	-webkit-animation-name: muevete2;
}

@-webkit-keyframes muevete2 {
   from {
      top: -300px;
   }
   to {
      top: 1500px;
   }
}

li.diapositiva3 {
	-webkit-animation-name: muevete3;
}

@-webkit-keyframes muevete3 {
   from {
      top: -600px;
   }
   to {
      top: 1200px;
   }
}

li.diapositiva4 {
	-webkit-animation-name: muevete3;
}

@-webkit-keyframes muevete4 {
   from {
      top: -900px;
   }
   to {
      top: 900px;
   }
}*/