body {
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14px;
	color:#807D7D;
	font-weight: normal;
	line-height: 18px;
	background-size:auto;
}

.ventanas {
    border: 0.5px black;
    background-color: white;
    margin: 0;
    padding: 0;
}

.ventana {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 0.5px dotted gray;
}

.ventana-button {
    display: block;
    padding: 0 20px;
    line-height: 40px;
    background-color: white;
    text-decoration: none;
    color: black;
}
.activo .ventana-button,
.tab-button:hover {
    background-color: gray;
}

.ventana-content {
    padding: 0px;
    line-height: 24px;
    background-color: gray;
    border-top: 1px dotted gray;
    height: 0;
    transition: height 1s ease-in-out;
    overflow: hidden;
}
.activo .ventana-content {
    height: 500px;
}
