@charset "UTF-8";
/* CSS Document */

.etiqueta-amarilla {background-color:#F7F382;}

.etiqueta-verde {background:#C5FD8C;}

.font {font-size:36px;}

.amarilla_rojo {background-color:#F7F382; color: #F00;}

a:hover {border:2px solid #CD0D10;}

a:active {color:#F0E50C}

ul {font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; font-size:18px;}

em {font-style:italic;}

nav > ul > li {float:left;
				padding-top:5px;
				padding-bottom:5px}

nav ul ul {display:none}

nav li:hover ul {display:block}