@charset "UTF-8";
/* CSS Document */

.etiqueta-amarilla {background-color:#F7F382;}

.etiqueta-verde {background:#C5FD8C;}

.font {font-size:26px;}

.amarilla_rojo {background-color:#F7F382; color: #F00;}

.carlos_s {
font-size:24px;
font-family:Verdana, Geneva, sans-serif;
padding-top:20px;
border-spacing:inherit
}

.Galeria {
font-size:18px;
font-family:Verdana, Geneva, sans-serif;
padding-top:0;
padding-bottom:20px;
border-spacing:inherit	
}

body {
background-image:url(../imagenes/galeria.jpg);
background-size:cover;
background-repeat:no-repeat
}

header {
  text-align:center;
  height:105px;
  background-color:#999;
  color:#FFFFFF;
  padding:5px;
}

a {color:#FFF}

a:hover {color:#666}

a:active {color:#000}

nav {
position:fixed;
top:130px;
alignment:central;
width:100%
}

ul {
font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; 
font-size:18px;
}

em {font-style:italic;}

nav > ul > li {
	float:left;
	}

nav ul ul {
	display:none}

nav li:hover ul {display:block}

p {text-align:justifys}
  
section {padding-top:20px}
					
nav li li {font-size:15px}
