@charset "UTF-8";
/* CSS Document */

.etiqueta-amarilla {background-color:#F7F382;}

.etiqueta-verde {background:#C5FD8C;}

.font {font-size:36px;}

.amarilla_rojo {background-color:#F7F382; color: #F00;}