body {
	margin-top: 125px; /* adjust this if the height of the menu bar changes */
	background-color:rgba(255,255,255,0.8)
}

.navbar-fixed-top .nav {
	padding: 15px 0;
}

footer {
	text-align:center;
	padding-bottom:50px;
	position:relative;

	background-color:	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(14,48,141,0.42) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(14,48,141,0.42))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(14,48,141,0.42) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(14,48,141,0.42) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(14,48,141,0.42) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(14,48,141,0.42) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#6b0e308d',GradientType=0 ); /* IE6-9 */

}

.navbar {
	border: 0px;
	padding:3px;

}


.navbar-toggle {
	margin-top:40px;
	margin-right:25px;
	padding:12px 13px;
}

.navbar-inverse .navbar-toggle {
	
	border-color:rgba(255,255,255,1);
	background-color:#0E308D;
}
.btn-lg, .btn-group-lg > .btn {
	padding:10px 75px;
}

.contact-form {
    margin-top:70px;
}

#map-canvas {
        height: 100%;
		height:250px;
		
}


html {
	background-image:url(../img/326983.jpg);
	width:100%;
	background-repeat:no-repeat;
	background-size: cover;
}

