@charset "UTF-8";
/* CSS Document */

header {
	
	background-color: #FFFFFF;
	margin: 10px;
	border-right: 2px solid #AFACAC;
	width: 90%;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 20px;
	
	
		
}


header ul{
	
	float: left;
	width: 100%;
	color: #F2F2F2;
	
}


header li {
	
	border-right: 2px solid ;
	padding: 5px;
	float:left;
	color: #F2F2F2;
	background: #f5f6f6; /* Old browsers */

	background: -moz-linear-gradient(top,  #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%); /* FF3.6+ */

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f6f6), color-stop(21%,#dbdce2), color-stop(49%,#b8bac6), color-stop(80%,#dddfe3), color-stop(100%,#f5f6f6)); /* Chrome,Safari4+ */

	background: -webkit-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* Chrome10+,Safari5.1+ */

	background: -o-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* Opera 11.10+ */

	background: -ms-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* IE10+ */

	background: linear-gradient(to bottom,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* W3C */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 ); /* IE6-9 */
	
	
}

body {
	
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	
	}
	
section {
	clear: both;
}

#slider {
	height: 250px;
	width: 400px;
	overflow: visible;
	position: relative;
}

#slider ol {
	position: relative;
}

#slider li {
	position: absolute;
	height: 250px;
	width: 400px;
	top:-250px;
   animation-duration: 2s;
   animation-timing-function: ease-in-out;
   animation-iteration-count: infinite;
   

   -webkit-animation-duration: 2s;
   -webkit-animation-timing-function: ease-in-out;
   -webkit-animation-iteration-count: infinite;
	
}

#slider .visible1 {
	position: absolute;
	top:0px;
}

#slider .visible2 {
	position: absolute;
	top:-250px;
}

#slider .visible3 {
	position: absolute;
	top:-500px;
}

#slider .visible4 {
	position: absolute;
	top:-750px;
}

#slider .visible5 {
	position: absolute;
	top:-1000px;
}

#slider .visible6 {
	position: absolute;
	top:-1250px;
}
#slider li img {
	height: 100%;
	width: 100%;
}

#marco {
	height: 250px;
	overflow: hidden;
}
	
li li {
	float: none;
	}
	
.escondido{
	top: -255px;
}


#slider .visible1 {
	
   animation-name: semueve1;

   -webkit-animation-name: semueve1;


}

@keyframes semueve1 {
   from {
      top: 0px;
   }
   to {
      top: 1500px;
   }
}

@-webkit-keyframes semueve1 {
   from {
      top: 0px;
   }
   to {
      top: 1500px;
   }
}

#slider .visible2 {
	
   animation-name: semueve2;

   -webkit-animation-name: semueve2;

}

@keyframes semueve2 {
   from {
      top: -250px;
   }
   to {
      top: 1250px;
   }
}

@-webkit-keyframes semueve2 {
   from {
      top: -250px;
   }
   to {
      top: 1250px;
   }
}

#slider .visible3 {
	
   animation-name: semueve3;

   -webkit-animation-name: semueve2;

}

@keyframes semueve3 {
   from {
      top: -250px;
   }
   to {
      top: 0px;
   }
}

@-webkit-keyframes semueve3 {
   from {
      top: -500px;
   }
   to {
      top: 0px;
   }
}

#slider .visible4 {
	
   animation-name: semueve4;

   -webkit-animation-name: semueve4;

}

@keyframes semueve4 {
   from {
      top: -750px;
   }
   to {
      top: 0px;
   }
}

@-webkit-keyframes semueve4 {
   from {
      top: -1000px;
   }
   to {
      top: 0px;
   }
}

#slider .visible5 {
	
   animation-name: semueve5;

   -webkit-animation-name: semueve5;

}

@keyframes semueve5 {
   from {
      top: -250px;
   }
   to {
      top: 0px;
   }
}

@-webkit-keyframes semueve5 {
   from {
      top: -250px;
   }
   to {
      top: 0px;
   }
}

#slider .visible6 {
	
   animation-name: semueve6;

   -webkit-animation-name: semueve6;

}

@keyframes semueve6 {
   from {
      top: -1250px;
   }
   to {
      top: 0px;
   }
}

@-webkit-keyframes semueve6 {
   from {
      top: -1500px;
   }
   to {
      top: 0px;
   }
}

.botones {
	background-color: red;
	width: 100%;
	height: auto;
	padding-left: 40px;
	padding-right: 40px;
	border: none;
	position: relative;
	margin:0;
	bottom: 0;
		}
	
.botones li {
	
	float: left;
	width: 25%;
	margin: 0;
	padding: 0;
	border: 0;
	}
	
.botones li a img {
	
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	}
	
.botones a {
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;

}
footer {
	
	background-color: #5F765E;
	position: absolute;
	bottom: 0;
	width: 100%;
	
}

q { 

quotes: '"' '"' "'" "'" 

}

q:before { 

content: open-quote 

}

q:after  { 

content: close-quote 

} 		


.fr q { 

quotes: '<<' '>>' "<" ">" 

}

