@charset "UTF-8";
/* CSS Document */

header {
	
	background-color: #FFFFFF;
	margin: 10px;
	border-right: 2px solid #AFACAC;
	width: 91%;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 20px;
	<!--position: absolute;
	-top: 0;
	-bottom: 0;
	  -right: 0;-->
	
	
		
}

nav { 

}

header ul{
	
	overflow: auto;
	width: 100%;
	color: #F2F2F2;
	
}


header li {
	
	border-right: 2px solid ;
	padding: 5px;
	float:left;
	color: #F2F2F2;
	background: #f5f6f6; /* Old browsers */

	background: -moz-linear-gradient(top,  #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%); /* FF3.6+ */

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f6f6), color-stop(21%,#dbdce2), color-stop(49%,#b8bac6), color-stop(80%,#dddfe3), color-stop(100%,#f5f6f6)); /* Chrome,Safari4+ */

	background: -webkit-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* Chrome10+,Safari5.1+ */

	background: -o-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* Opera 11.10+ */

	background: -ms-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* IE10+ */

	background: linear-gradient(to bottom,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* W3C */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 ); /* IE6-9 */
	
	
}

a {
	
	color: #F5EFEF;
	background-image: url(../img/negro.jpg);
	background-size: 100%;
	
}
a:hover {
	background-image: url(../img/bola.jpg);

}
body {
	
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	
	}

.sm {
	
}
	
iframe {
	
	overflow: hidden;
}


section {
	
	margin: 10px 5px;
	border: 2px dotted #080202;
	width: 200px;
	height: 200px;
	float: left;
	background-color: #D9D6D6;
	background-image: url(../img/negro.jpg);
	background-origin:content-box;
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: left;

	
}

section:hover {
	
	background-position: center;
	
}
footer {
	
	background-color: #5F765E;
	position: absolute;
	bottom: 0;
	width: 100%;
	
}

q { 

quotes: '"' '"' "'" "'" 

}

q:before { 

content: open-quote 

}

q:after  { 

content: close-quote 

} 		


.fr q { 

quotes: '<<' '>>' "<" ">" 

}

