/* CSS Document */
p 
{
	color:green;
}

ol li a
{
	color:red;
	font-weigth:32px;
}

.mifavorito
{
	color:orange;
	font-weight:50px;
}

a
{
	color:lightblue;
	font-weigth:32px;
}

th
{
	background-color:yellow;
}