/* CSS Document */


body.sm {
	width: 320px;

}

body.sm header {
	position: relative;
}


body.sm table {
	width: 100%;
}


body.sm ul li {
	list-style-type: none;
	background-color: transparent;
	margin: 10px;
	display: block;
	
	}

body.sm ul li a {
	background-color: #7CC7B5;
}


body.sm .primera {
	font-size: 16px;
	color: #686666;
	padding: 10px;
	
	}

body.sm .segunda{
		width: 100%;
	}


		body.sm ol{
	overflow: auto;
}

body.sm	ol li{

		float: none;
		margin: 20px;
	}


body.sm iframe{
	overflow: hidden;
	width: 100%;
}
