/* CSS Document */


/* Layout */

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: lighter;
	}



q { quotes: '"' '"' "'" "'" }
q:before { content: open-quote;
	color: red;
	font-size: 30px;
	font-weight: bold;
}

q:after { content: close-quote;
	color: red;
	font-size: 30px;
	font-weight: bold;
}



.en q { quotes: '[' ']' "'" "'" }

/* Header */

header {
	width: auto;
	height: 80px;
	padding: 10px 0;
}



header nav h1 {
	background-image: url(../images/logo_Crowlhy.jpg);
	text-indent: -9999px;
	height: 80px;
	background-repeat: no-repeat;
	float: left;
	width: 27%;
	padding: 0 10px;

}


ul.primera {
	font-size: 18px;
	width: 70%;
	color: #686666;
	float: right;
	
	}


ul.primera li {
	list-style-type: none;
	display: inline-block;
	line-height: 80px;
	padding: 0 30px;
	float: right;
	
	}
	

a {
	text-decoration: none;
	color: #333333;
	}



	a.uno {
	display: block;
	margin: 20px 0;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 36px;
	}



/* Bloque 1 */

section.tercera {
	position: relative;
  	perspective: 1000px;
  	padding:100px 0;
}


section.tercera h2 {
	display: block;
	font-size: 40px;
	color: #444444;
	text-transform: uppercase;
	margin-top:0;
	}

ol#carousel {
  width: 190px;
  height: 120px;
  margin: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform-style: preserve-3d;
  
  transform: translateX, translateY(-50%; -50%);
  -webkit-transform: translateX, translateY(-50%; -50%);
}


#carousel li {
  display: block;
  position: absolute;
  width: 186px;
  height: 116px;
  left: 10px;
  top: 10px;
 
}



#carousel li:nth-child(1) { 
	transform: rotateY(   0deg ); 
	-webkit-transform: rotateY(   0deg );
}

#carousel li:nth-child(2) { transform: rotateY(  60deg ); 
	-webkit-transform: rotateY(   60deg );
}
#carousel li:nth-child(3) { transform: rotateY(  120deg );
-webkit-transform: rotateY(   120deg );}

#carousel li:nth-child(4) { transform: rotateY( 180deg ); 
	-webkit-transform: rotateY(   180deg );
}
#carousel li:nth-child(5) { transform: rotateY( 240deg ); 
	-webkit-transform: rotateY(   240deg );
}
#carousel li:nth-child(6) { transform: rotateY( 300deg ); 
	-webkit-transform: rotateY(   300deg );
}



#carousel li:nth-child(1) { transform: rotateY(   0deg ) translateZ( 288px ); 
	-webkit-transform: rotateY(   0deg ) translateZ( 288px );
}
#carousel li:nth-child(2) { transform: rotateY(  60deg ) translateZ( 288px ); 
	-webkit-transform: rotateY(   60deg ) translateZ( 288px );
}
#carousel li:nth-child(3) { transform: rotateY(  120deg ) translateZ( 288px ); 
	-webkit-transform: rotateY(   120deg ) translateZ( 288px );
}
#carousel li:nth-child(4) { transform: rotateY( 180deg ) translateZ( 288px ); 
	-webkit-transform: rotateY(   180deg ) translateZ( 288px );
}
#carousel li:nth-child(5) { transform: rotateY( 240deg ) translateZ( 288px ); 
	-webkit-transform: rotateY(   240deg ) translateZ( 288px );
}
#carousel li:nth-child(6) { transform: rotateY( 300deg ) translateZ( 288px ); 
	-webkit-transform: rotateY(   300deg ) translateZ( 288px );
}



ol#carousel li  h3 {
	width: 70%;
	margin: 0 auto;
}

.rojo {
	background-color: red;
}


.blue {
	background-color: blue;
}




iframe{
	overflow: hidden;
}





/* Bloque 2 */


section.cuarta{
	position:relative;
}





























