@charset "UTF-8";
/* CSS Document */

html {
	background-color:rgba(59,59,59,1.00);
}

body {
	padding:10px auto;
}

body header h1 {
	margin:0 auto;
}

header h1 a img {
	width:80%;
}

body header nav {
	background-color:rgba(0,0,0,1.00);
	width:0 auto;
	display:block;
	margin:0;
}

nav ul {
	list-style-type:none;
	text-decoration:none;
	text-align:left;
	padding:5px;;
}

nav ul li a {
	text-decoration:none;
	color:white;
	font-family:'Source Sans Pro', sans-serif;
	border-bottom:2px white;
}

nav ul ul li {
	border-bottom:1px solid white;
}

article.clearfix section.imagen_cambia figure {
	margin:0;
}

article.clearfix section.imagen_cambia figure img {
	margin:0 auto;
	width:100%;
}

article.clearfix section.cuadrados {
	width:80%;
	max-height:auto;
	background-color:#FFF;
	border-radius:12px;
	padding-left:15px;
	padding-right:15px;
	padding-bottom:10px;
	padding-top:3px;
	margin-left:20px;
	margin-right:20px;
	margin-top:15px;
}

article.clearfix section.cuadrados h1 {
	font-family:'Source Sans Pro', sans-serif;
	margin-top:10px;
	margin-bottom:10px;
}

section.cuadrados figure {
	margin:0 auto;
}

section.cuadrados figure img {
	width:100%;
	margin-top:10px;
	margin-bottom:5px;
	max-height:150px;
	border-radius:12px;
}

article.clearfix section.cuadrados p {
	margin:0;
	margin-bottom:10px;
}