@charset "UTF-8";
/* CSS Document */

ul > li > a ,
ul > li > ul > li > a {
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:18px;
	color:#000000;
	text-decoration:none;
}

ul > li > ul > li > a {
	font-size:14px;
	font-style:italic;
}

a:hover {
	color:#1D7397;
}

a:visited {
	color:#DDDCDC;
}

a:active {
	color:#FEDA23;
}

.verde{background:#4A9224;}
.naranja{color:#EE9B22;}