@charset "UTF-8";
/* CSS Document */

body {
	height: 2000px;
	padding-top: 50px;
	position: relative;
}

nav ul {
	margin: 0;}

li > ul > li {
	background-color: red;
	color: white;
}

li > ul > li + li {
	/*font-size: 36px;*/
}

a {
	color: inherit;
}

a:hover {
	text-decoration: line-through;
}

#botonClick {
	padding: 20px;
}

.boton {
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	font-size: 24px;
}

table {
	width: 90%;
	margin: 0 auto 20px;
	}
.fila {
	background-color: #ccc;
}
._par {
	color: red;
}

tbody tr:nth-child(odd) {
	background-color: blue;
}

p {
	margin: 0;
	background-color: #CAC8C8;
}
p {
	margin: 10px;
}
p {
	margin: 10px 20px 30px 5px;
}
p {
	margin: 20px auto;
}
p {
	margin: 20px 20%;
}

p {
	border: 20px solid yellow;
	border-top: 50px dotted #F5060A;
	margin: 0;
}

p {
	padding: 30px;
}

.caja-parrafos {
	background-color: green;
	overflow: hidden;
}

.caja-parrafos p {
	float: left;
	width: 100px;
	margin: 10px;
}

header {
	position: fixed;
	background-color: white;
	top: 0;
	left: 0;
	width: 100%;
}

nav ul {
	border: 2px solid black;
	overflow: hidden;
	list-style-type: none;
	padding: 0;
}
nav > ul > li {
	margin: 10px;
	float: left;
}

nav > ul > li li {
	padding: 10px;
	border-bottom: 2px solid white;
}

nav a + ul {
	padding: 10px;
	display: none;
	position: absolute;
	background-color: gold;
}
nav li:hover ul {
	display: block;
}

/* Miercoles 4 de Junio */

.degradado {
	background: #1e5799; /* Old browsers */

	background: -moz-linear-gradient(top,  #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
	
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
	
	background: -webkit-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
	
	background: -o-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Opera 11.10+ */
	
	background: -ms-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
	
	background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C */
	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}
.body-centrado {
	width: 80%;
	margin: 0 auto;
	background-color: white;
}

