@charset "UTF-8";
/* CSS Document */


li > ul > li {
	background-color: red;
	color: white;
}

li > ul > li + li {
	font-size: 36px;
}

a {
	color: inherit;
}

#botonClick {
	padding: 20px;
}

.boton {
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	font-size: 24px;
}